body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}
.centered-container {
    height: 80%;
    text-align: center;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}
.paragraph {
    font-size: 16px;
    margin-bottom: 20px;
}

.genuine {
    background-color: #28a745;
}

.fake {
    background-color: red;
}